@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@import 'ckeditor5/ckeditor5.css';
@import 'ckeditor5-premium-features/ckeditor5-premium-features.css';
@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';

@media print {
  body {
    margin: 0 !important;
  }
}

/* You can add global styles to this file, and also import other style files */
@media print {
  body {
    margin: 0 !important;
  }
}



html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}
