<div class="contest-container">
  <section class="next-contests">
    <app-next-contests />
  </section>

  <!-- Featured Contests -->
  <section class="featured-contests">
    <app-featured-contests></app-featured-contests>
  </section>

  <!-- Contest List & Ranking List -->
  <section class="main-content">
    <div class="contest-list">
      <app-contest-list></app-contest-list>
    </div>
    <div class="ranking-list">
      <app-ranking-list></app-ranking-list>
    </div>
  </section>
</div>
